$light-font-color: #ffffff;
$dark-font-color: #000;
$default-background-color: #ffffff;
$secondary-background-color: #fafafa;
$default-font-family: Lato, "sans-serif";
$default-icon-background: #325DFF;
$border-color: #cecece;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: $default-font-family;
    font-size: 16px;
    min-height: 100%;
}

body {
    background-color: $default-background-color;
}
