header button {
    background: #325DFF;
    font-size: 14px;
    padding: 30px 50px;
    color: #fff;
    font-family: lato, sans-serif;
    border-radius: 50px;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    border: none;
}