button {
    background: #325DFF;
    font-size: 0.8rem;
    padding: 1.2rem 3rem;
    color: $light-font-color;
    border-radius: 2rem;
    outline: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border: none;
}

button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -1.5rem;
    transition: 0.5s;
  }

button:hover span {
    padding-right: 1.5rem;
  }

button:hover span:after {
    opacity: 1;
    right: 0;
  }
