footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
    background: $default-icon-background;
    width: 100%;
    font-size: 1.25rem;
    font-weight: 400;
    color: $light-font-color;
}