@media only screen and (max-width: 1200px){
    header h2 {
        font-size: 1.4rem;
    }

    header h1 {
        padding-top: 2.8rem;
        font-size: 4rem;
    }

    header p {
        font-size: 0.8rem;
        margin: 2rem;
    }

    header li {
        font-size: 0.6rem;
    }

    button {
        font-size: 0.7rem;
        padding: 1.1rem 2.6rem;
        border-radius: 1.9rem;
    }

    button span:after {
        right: -1.3rem;
    }

    button:hover span {
        padding-right: 1.3rem;
    }

    .section-2 .left-div {
        padding: 3.5rem;
    }

    .section-2 .left-div h2 {
        margin-top: 3.5rem;
        font-size: 2.3rem;
    }

    .section-2 .left-div p {
        margin: 1.7rem 0 2.5rem 0;
        font-size: 1.3rem;
    }

    .section-3 {
        padding: 50px;
    }

    .section-3-upper h2 {
        margin: 3.5rem;
        font-size: 1.8rem;
    }

    .section-3-upper p {
        margin-bottom: 4.5rem;
    }

    .section-3 img {
        width: 77px;
        height: 77px;
    }

    .section-3-lower .tiles {
        max-width: 1000px;
    }

    .section-3-lower .tile {
        padding: 45px 40px 30px;
        margin: 10px;
        width: 30%;
        height: 350px;
    }

    .section-3-lower h3 {
        margin: 23px 0 0 10px;
        margin: 0.4rem;
    }

    .section-4 {
        height: 550px;;
    }

    .section-4 .section-4-mid {
        max-width: 650px;
    }

    .section-4 img {
        width: 40px;
        height: 50px;
        margin: 80px 0 50px 0;
    }

    .section-4 h3 {
        font-size: 1.5rem;
    }

    .section-4 p {
        font-size: 0.9rem;
    }

    .section-5 .section-5-upper h3 {
        font-size: 1.57rem;
        margin: 70px 0 10px 0;
    }

    .section-5 .section-5-upper p {
        font-size: 0.9rem;
        margin-bottom: 60px;
        max-width: 650px;
    }

    .section-5 .section-5-lower .section-5-lower-1 h2 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .section-5 .section-5-lower .section-5-lower-1 p {
        font-size: 1rem;
        max-width: 600px;
    }

    .section-5 .section-5-lower .section-5-lower-1 > div {
        height: 500px;
    }

    .section-5 .section-5-lower .section-5-lower-1 .left-div {
        padding: 80px;
    }

    .section-5 .section-5-upper .center {
        font-size: 2.5rem;
        text-align: center;
        padding: 60px 0 55px;
    }

    footer {
        height: 130px;
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 992px) {
    header h2 {
        font-size: 1.2rem;
    }

    header li {
        font-size: 0.6rem;
    }
    header h1 {
        padding-top: 2.5rem;
        font-size: 3rem;
    }

    header p {
        font-size: 0.8rem;
        margin: 2rem;
    }

    button {
        font-size: 0.7rem;
        padding:1rem 2.3rem;
        border-radius: 1.8rem;
    }

    button span:after {
        right: -1rem;
    }

    button:hover span {
        padding-right: 1.2rem;
    }

    .section-2 .left-div {
        padding: 3.2rem;
    }

    .section-2 .left-div h2 {
        margin-top: 3rem;
        font-size: 2rem;
    }

    .section-2 .left-div p {
        margin: 1.5rem 0 2rem 0;
        font-size: 1rem;
    }

    .section-3 {
        padding: 45px;
    }

    .section-3-upper h2 {
        margin: 3rem;
        font-size: 1.7rem;
    }

    .section-3-upper p {
        margin-bottom: 4rem;
    }

    .section-3 img {
        padding: 10px;
        width: 66px;
        height: 66px;
    }

    .section-3-lower .tiles {
        max-width: 700px;
    }

    .section-3-lower .tile {
        padding: 45px 40px 30px;
        margin: 10px;
        max-width: 30%;
        height: 300px;
    }

    .section-3-lower h3 {
        margin: 20px 0 0 10px;
        font-size: 1rem;
        margin: 0.3rem;
    }

    .section-4 {
        height: 550px;;
    }

    .section-4 .section-4-mid {
        max-width: 550px;
    }

    .section-4 img {
        width: 35px;
        height: 45px;
        margin: 70px 0 50px 0;
    }

    .section-4 h3 {
        font-size: 1.5rem;
    }

    .section-4 p {
        font-size: 0.9rem;
    }

    .section-5 .section-5-upper h3 {
        font-size: 1.5rem;
        margin: 60px 0 5px 0;
    }

    .section-5 .section-5-upper p {
        font-size: 0.9rem;
        margin-bottom: 50px;
        max-width: 600px;
    }

    .section-5 .section-5-lower {
        flex-direction: column;
    }

    .section-5 .section-5-lower .section-5-lower-1 h2 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .section-5 .section-5-lower .section-5-lower-1 p {
        font-size: 1rem;
        margin-bottom: 30px;
        max-width: 600px;
    }

    .section-5 .section-5-lower .section-5-lower-1 {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .section-5 .section-5-lower .section-5-lower-1 > div {
        flex: 0 50%;
        height: 400px;
    }

    .section-5 .section-5-lower .section-5-lower-1 .left-div {
        align-items: flex-start;
        justify-content: center;
        padding: 80px;
        text-align: left;    }

    .section-5 .section-5-upper .center {
        justify-content: flex-start;
        align-items: center;
        font-size: 2rem;
        text-align: center;
        padding: 50px 0 45px;
    }

    footer {
        height: 120px;
        font-size: 0.6rem;
    }
}

@media only screen and (max-width: 768px) {
    header {
        max-height: 600px;
    }

    header h2 {
        font-size: 1rem;
    }

    header li {
        font-size: 0.5rem;
    }
    header h1 {
        padding-top: 2rem;
        font-size: 2rem;
    }

    header p {
        font-size: 0.8rem;
        margin: 2rem;
    }

    button {
        font-size: 0.7rem;
        padding: 0.9rem 1.8rem;
        border-radius: 1.5rem;
    }

    button span:after {
        right: -0.8rem;
    }

    button:hover span {
        padding-right: 1rem;
    }

    .section-2 {
        flex-direction: column;
    }

    .section-2 .left-div {
        text-align: center;
        padding: 2.5rem;
        min-height: 400px;
    }

    .section-2 .left-div h2 {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .section-2 .left-div p {
        margin: 1.5rem 0 2rem 0;
        font-size: 1rem;
    }

    .section-2 .right-div {
        min-height: 400px;
    }

    .section-3 {
        padding: 35px;
    }

    .section-3-upper h2 {
        margin: 2.5rem;
        font-size: 1.3rem;
    }

    .section-3-upper p {
        margin-bottom: 3rem;
    }

    .section-3 img {
        padding: 10px;
        width: 55px;
        height: 55px;
    }

    .section-3-lower .tiles {
        max-width: 500px;
        display: flex;
        flex-direction: row;
    }

    .section-3-lower .tile {
        padding: 25px 20px 10px;
        margin: 10px;
        max-width: 40%;
        height: 250px;
    }

    .section-3-lower h3 {
        margin: 17px 0 0 5px;
        font-size: 1rem;
        margin: 0.2rem;
    }

    .section-3-lower p {
        font-size: 0.8rem;
    }

    .section-4 {
        height: 500px;;
    }

    .section-4 .section-4-mid {
        max-width: 450px;
    }

    .section-4 img {
        width: 30px;
        height: 40px;
        margin: 60px 0 45px 0;
    }

    .section-4 h3 {
        font-size: 1.2rem;
    }

    .section-4 p {
        font-size: 0.9rem;
    }

    .section-5 .section-5-upper h3 {
        font-size: 1.2rem;
        margin: 50px 0 5px 0;
    }

    .section-5 .section-5-upper p {
        font-size: 0.9rem;
        margin-bottom: 40px;
        max-width: 450px;
    }

    .section-5 .section-5-lower {
        flex-direction: column;
    }

    .section-5 .section-5-lower .section-5-lower-1 h2 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .section-5 .section-5-lower .section-5-lower-1 p {
        font-size: 1rem;
        margin-bottom: 30px;
    }

    .section-5 .section-5-lower .section-5-lower-1 {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .section-5 .section-5-lower .section-5-lower-1 > div {
        flex: 0 100%;
        height: 400px;
    }

    .section-5 .section-5-lower .section-5-lower-1 .left-div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 60px;
        text-align: center;
    }

    .section-5 .section-5-upper .center {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        text-align: center;
        padding: 50px 0 45px;
    }

    .section-5 .section-5-lower .section-5-lower-1 > div:nth-child(3) {
        order: 4;
    }

    .section-5 .section-5-lower .section-5-lower-1 > div:nth-child(4) {
        order: 3;
    }

    footer {
        height: 110px;
        font-size: 0.6rem;
    }
}

@media only screen and (max-width: 576px) {
    header {
        max-height: 400px;
    }

    header nav {
        padding: 1.2rem 1.5rem;
    }

    header h2 {
        font-size: 0.7rem;
        font-weight: 700;
    }

    header li {
        font-size: 0.4rem;
    }
    header h1 {
        padding-top: 0.8rem;
        font-size: 1.5rem;
    }

    header p {
        font-size: 0.5rem;
        margin: 1rem;
    }

    button {
        font-size: 0.5rem;
        padding: 0.7rem 1.5rem;
        border-radius: 1.2rem;
    }

    button span:after {
        right: -0.5rem;
      }

    button:hover span {
        padding-right: 0.8rem;
      }

    .section-2 {
        min-height: 300px;
        flex-direction: column;
    }

    .section-2 .left-div {
        text-align: center;
        padding: 2rem;
    }

    .section-2 .left-div h2 {
        margin-top: 1.5rem;
        font-size: 1.2rem;
    }

    .section-2 .left-div p {
        margin: 1rem 0 1.5rem 0;
        font-size: 1rem;
    }

    .section-2 .right-div {
        min-height: 300px;
    }

    .section-3 {
        padding: 25px;
    }

    .section-3-upper h2 {
        margin: 2rem;
        font-size: 1rem;
    }

    .section-3-upper p {
        margin-bottom: 2rem;
    }

    .section-3 img {
        padding: 5px;
        width: 44px;
        height: 44px;
    }

    .section-3-lower .tiles {
        max-width: 400px;
        display: flex;
        flex-direction: column;
    }

    .section-3-lower .tile {
        padding: 25px 20px 10px;
        margin: 10px;
        max-width: 50%;
        height: 280px;
    }

    .section-3-lower h3 {
        margin: 17px 0 0 5px;
        font-size: 1rem;
        margin: 0.2rem;
    }

    .section-3-lower p {
        font-size: 0.8rem;
    }

    .section-4 {
        height: 400px;;
    }

    .section-4 .section-4-mid {
        max-width: 350px;
        align-items: center;
    }

    .section-4 img {
        width: 25px;
        height: 35px;
        margin: 50px 0 35px 0;
    }

    .section-4 h3 {
        font-size: 1rem;
    }

    .section-4 p {
        font-size: 0.7rem;
    }

    .section-5 .section-5-upper h3 {
        font-size: 1rem;
        margin: 40px 0 5px 0;
    }

    .section-5 .section-5-upper p {
        font-size: 0.7rem;
        margin-bottom: 40px;
        max-width: 370px;
    }

    .section-5 .section-5-lower {
        flex-direction: column;
    }

    .section-5 .section-5-lower .section-5-lower-1 h2 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .section-5 .section-5-lower .section-5-lower-1 p {
        font-size: 1rem;
        margin-bottom: 30px;
    }

    .section-5 .section-5-lower .section-5-lower-1 {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }

    .section-5 .section-5-lower .section-5-lower-1 > div {
        flex: 0 100%;
        height: 300px;
    }

    .section-5 .section-5-lower .section-5-lower-1 .left-div {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 50px;
        text-align: center;
    }

    .section-5 .section-5-upper .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        text-align: center;
        padding: 45px 0 38px;
    }

    .section-5 .section-5-lower .section-5-lower-1 > div:nth-child(3) {
        order: 4;
    }

    .section-5 .section-5-lower .section-5-lower-1 > div:nth-child(4) {
        order: 3;
    }

    footer {
        height: 90px;
        font-size: 0.4rem;
    }
}