.section-4 {
    background: url(../img/Image.png) center no-repeat;
    background-size: cover;
    height: 600px;;
    text-align: center;
    color: $light-font-color;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: inset 0 0 0 1000px rgba(21,116,185,0.2);

}

.section-4 .section-4-mid {
    max-width: 750px;
}

.section-4 img {
    width: 45px;
    height: 55px;
    margin: 90px 0 65px 0;
}

.section-4 h3 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 10px;
}

.section-4 p {
    font-size: 1rem;
    font-weight: 400;
}