.section-3 {
    background: $secondary-background-color;
    padding: 55px;
}

.section-3-upper {
    text-align: center;
}

.section-3-upper h2 {
    margin: 4rem;
    font-size: 2rem;
    font-weight: 400;
}

.section-3-upper p {
    margin-bottom: 5rem;
}

.section-3 img {
    background: #325DFF center no-repeat;
    background-size: cover;
    border-radius: 50%;
    padding: 10px;
    width: 88px;
    height: 88px;
}

.section-3-lower {
    height: 100%;
    width: 100%;
}

.section-3-lower .tiles {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.section-3-lower .tile {
    border: 1px $border-color solid;
    text-align: center;
    padding: 65px 60px 40px;
    margin: 10px;
    max-width: 30%;
    height: 400px;
    background: $default-background-color;
}

.section-3-lower h3 {
    margin: 27px 0 0 10px;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0.5rem;
}

.section-3-lower p {
    font-size: 1rem;
    font-weight: 300;
}
