.section-5 {
    height: 100%;
}

.section-5 .section-5-upper {
    margin: auto;
    min-height: 200px;
    background: $secondary-background-color;
    width: auto;
    text-align: center;
}

.section-5 .section-5-upper h3 {
    font-size: 2rem;
    font-weight: 300;
    color: $dark-font-color;
    margin: 90px 0 10px 0;
}

.section-5 .section-5-upper p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 70px;
}

.section-5 .section-5-lower .section-5-lower-1 h2 {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 20px;
}

.section-5 .section-5-lower .section-5-lower-1 p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 60px;

}

.section-5 .section-5-lower .section-5-lower-1 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.section-5 .section-5-lower .section-5-lower-1 > div {
    flex: 0 50%;
    box-sizing: border-box;
    height: 640px;
}

.section-5 .section-5-lower .section-5-lower-1 .left-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 100px;
    text-align: left;
}

.section-5 .section-5-lower .section-5-lower-1 .right-div:nth-of-type(2) {
    background: url(../img/Rectangle10.png) center no-repeat;
    background-size: cover;
    width: 100%;
}

.section-5 .section-5-lower .section-5-lower-1 .right-div:nth-of-type(3) {
    background: url(../img/Rectangle11.png) center no-repeat;
    background-size: cover;
    width: 100%;
}

.section-5 .section-5-lower .section-5-lower-1 .right-div:nth-of-type(6) {
    background: url(../img/Rectangle14.png) center no-repeat;
    background-size: cover;
    width: 100%;
}

.section-5 .section-5-upper .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    text-align: center;
    padding: 85px 0 68px;
}